<div id="container">

<%= render 'users/sidebar', user: @user %>

<div id="main-contents">
  <div id="headline">
    <h3>プロフィール編集</h3>
  </div>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= @user.errors.count %> error prohibited this obj from being saved:</h3>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@user) do |f| %>
    <div class="plf-img">
      <%= f.label 'プロフィール画像' %><br>
      <%= f.attachment_field :profile_image %>
    </div>

    <table class="table2">
      <tr>
        <th>お名前</th>
        <td><%= f.text_field :name, class: "fields" %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= f.text_field :email, class: "fields" %></td>
      </tr>
      <tr>
        <th>性別</th>
        <td><%= f.select :gender, User.genders.keys.map { |k| [k, k]} %></td>
      </tr>
      <tr>
        <th>年代</th>
        <td><%= f.select :age, User.ages.keys.map { |k| [k, k]} %></td>
      </tr>
      <tr>
        <th>居住形態</th>
        <td><%= f.select :status, User.statuses.keys.map { |k| [k, k]} %></td>
      </tr>
      <tr>
        <th>間取り</th>
        <td><%= f.select :layout, User.layouts.keys.map { |k| [k, k]} %></td>
      </tr>
      <tr>
        <th>広さ</th>
        <td><%= f.select :area, User.areas.keys.map { |k| [k, k]} %></td>
      </tr>
      <tr>
        <th>自己紹介</th>
        <td><%= f.text_area :introduction, class: "fields" %></td>
      </tr>
    </table>

    <div>
      <%= f.submit '変更を保存', class: "ubtn pos" %>
    </div>
  <% end %>
</div>

</div>
