<%= render 'users/sidebar' %>

<div class="main-content">

  <%= render 'users/search' %>

<% if @user_or_post == "1" %>
  <div class="headline">
    <h3>Posts</h3>
    <%= render 'posts/sort' %>
  </div>

  <%= render 'posts/index', posts: @posts %>

<% elsif @user_or_post == "2" %>
  <h1>User</h1>
    <table>
        <% @users.each do |user| %>
        <thead>
            <tr>
                <th></th>
                <th><%= user.name %> </th>
            </tr>
        </thead>
        <% end %>
    </table>
<% else %>
<% end %>

</div>