<div id="container">

  <%= render 'users/sidebar' %>

  <div id="main-contents">
    <div id="headline">
      <h3>投稿編集</h3>
    </div>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h3><%= @post.errors.count %> error prohibited this obj from being saved:</h3>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@post) do |f| %>
    <div class="photo">
      <%= f.label :写真イメージ %>
      <%= f.attachment_field :image %>
    </div>

    <table class="table3">
      <tr>
        <th>タグ名</th>
        <td>
          <p> カンマ区切り( , )で登録できます</p>
          <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "fields" %>
        </td>
      </tr>
      <tr>
        <th>詳細説明</th>
        <td><%= f.text_area :description, class: "fields" %></td>
      </tr>
    </table>

    <div>
      <%= f.submit '変更を保存', class: "pbtn" %>
    </div>
  <% end %>
</div>

</div>