<%= render 'users/sidebar' %>

<div class="main-content">

  <%= render 'users/search' %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h3><%= @post.errors.count %> error prohibited this obj from being saved:</h3>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@post) do |f| %>
    <div>
      <%= f.label :写真をアップロードする %>
      <%= f.attachment_field :image %>
    </div>

    <div>
      <%= f.label 'タグを追加する（ ,で複数追加可能）' %>
      <%= f.text_field :tag_list, value: @post.tag_list.join(',') %>
      <%= f.submit '追加' %>
    </div>

    <div>
      <%= f.label :コメントを追加する %>
      <%= f.text_area :description %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>