<div id="skippr">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>

<div id="container">

<%= render 'users/sidebar' %>

  <div id="main-contents">
    <div id="headline">
      <h3>最新の写真</h3>
    </div>
    <div class="content">
      <ul class="grid">
        <% @posts.each do |post| %>
          <li class="post">
            <div class="post-item">
              <div>
                <%= link_to(post) do %>
                  <%= attachment_image_tag post, :image, :fill, 220, 220, class: "img-round" %>
                <% end %>
              </div>
              <div class="info">
                <div class="info-user">
                  <div>
                    <%= link_to(post.user) do %>
                      <%= attachment_image_tag(post.user, :profile_image, fallback: 'no-image.jpg', size: '35x35', class: "img-circle") %>
                    <% end %>
                    <span class="info-user-name"><%= post.user.name %></span>
                  </div>
                  <span>
                    <i class="far fa-heart"><%= post.likes.count %></i>
                    <i class="far fa-comment"><%= post.post_comments.count %></i>
                  </span>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="more">
      <%= link_to posts_path do %>
        <button class="more-btn link" >過去の写真をもっと見る</button>
      <% end %>
    </div>
  </div>
</div>