<!DOCTYPE html>
<html>
  <head>
    <title>danshari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>

  <body>
    <header>
      <div id="header">
        <div id="logo">dan sha ri</div>

        <%= render 'users/search' %>

      </div>
    </header>
    <div id="flash">
      <%= render 'layouts/notifications' %>
    </div>

    <%= yield %>

  </body>
</html>
