<!DOCTYPE html>
<html>
  <head>
    <title>danshari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="header">
        <div id="logo"><%= link_to 'dan sha ri', root_path %></div>
          <%= render 'layouts/hm_menu' %>        
        <div id="search-hide">
          <%= render 'users/search' %>
        </div>
      </div>
    </header>

    <div id="flash">
      <%= render 'layouts/notifications' %>
    </div>

    <%= yield %>

  </body>
</html>
